.navbar {
  background: 	#dadada;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;

  
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
 
  border-radius: 10px;
  border: 3px solid #BADA55;
  
  

}

.nav-menu {
  background-color: #fff;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -10%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #eee;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background: #fff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.side-menu-footer{
  width: 100%;
  background:#333;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
}

.side-menu-footer .avatar{
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
}
.side-menu-footer .avatar img{
  max-width: 100%;
}

.side-menu-footer .company-info{
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  position: absolute;
  opacity: 1;
  top: 35%;
  transition: opacity .2s ease-in;
}

.side-menu.inactive .side-menu-footer .company-info{
  opacity: 1;
  width: 0;
  height: 0;
  padding: 4%;
  overflow: hidden;
}


.side-menu-footer .company-info h5{
  font-size: 15px;
}


.side-menu-footer .company-info p{
  font-size: 14px;
}

.divider{
  border-left: 6px solid black;
  height: 200px;
  position:absolute;
  left: 50%;
}

.menu-log{
 display: inline-block;
}

.search-controller{
  color: #333;
  position: relative;
}

 .search-controller .search-btn{
  width: 40px;
  height: 35px;
  position: absolute;
  background: transparent;
  border: 0;
  font-size: 20px;
  color: #333;
}

.search-controller input[type=text]{
  border: 0;
  outline: none;
  height: 35px;
  background: #fff;
  border-radius: 5px;
  display: block;
  margin: 20px 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  color: #333;
}